
body
{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 9pt;
    background-color: #333;
    height: 100%;
    margin: 0;
}

.ok {
    background-color: #31E749;
    color: #000;
    z-index: 1;
}

.alert {
    background-color: #D80B0B;
    color: #FFF;
}

svg {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    width: 100%;
    z-index: 0;
}

rect {
    transition: fill 0.75s, stroke 1.5s;
}

tspan {
    user-select: none;
}

#ventanaFlotante {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
}


